*{
	padding:0px;
	margin:0px;
}

body {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	font-variation-settings:"wdth";
}

.open-sans-700, .payment-card-section, .card-title{
	font-weight:700;
}


h1{     /* ok */
	font-size: 3.75em; /*60px*/
	color: #707070;
	margin-top: 139px;
	width: 100%;
	word-wrap: break-word;
	text-align: center;
;
	
	
}


/* ***** SECCION NAVBAR ****** */

.navbar {
	width: 100%;
	background-color: #e83e8c;
}

.navbar-nav{
	float: right; /* alinea a la derecha el menu desplegable */
	position: absolute;  
	right: 118px;
	
}

#logo-suricata {
	top: 12px;
	margin-left: 119px;
	width: 132px;
	height: 53px;
}



/* ordenar tarjetas */
.row{
	
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
}


/* distancia entre tarjetas */
.card{
	margin: 5%;
	padding: 0px;
}


.card img{
	width: 248px;
	height: 132px;
}

.card-body{

	width: 248px;
}

.card-title{
font: normal normal normal 16px/24px;
letter-spacing: 0px;
color: #373A3C;
opacity: 1;
}

.text-card .more-text {
	display: none;
}



.text-card:target .more-text {
	display: block;
	
}

/* .text-card:target .hidden-text {
	display: none;
} */




/* SECCION TARJETAS DE CREDITO */

.payment-card-section{
	font-size:2.5em;
	background-color:#17A2B8;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: auto;
	min-height: 170px;
	position: relative;

}	




.payment-card-section div{
	display: flex;
	flex-direction: row;
	justify-content: right;

}

/* iconos de tarjetas de credito */
i{
	font-size: 1.375em;
	padding-inline: 5%;
	font-weight: 400;
}






/* **** SECCION FOOTER ***** */

footer{
	top: 1377px;
	left: 0px;
	width: 100wv;
	height: 184px;
background: #E83E8C 0% 0% no-repeat padding-box;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
}

footer img{
width: 36px;
height: 67px;
}




@media screen and (max-width: 576px) {
	h1{
		font-size:35px;
		text-align: center;
	}

	#logo-suricata{
		margin-left: 40px;
	}

	.btn-navbar{
		margin-right: 40px;
	}

	.payment-card-section {
	display: none;
	}

	.navbar-nav{
		position: static;
		
	}
}


